$color: #e91e63;

body {
  background: #000;
}

.container {
  position: relative;
  overflow: hidden;
  width: 124px;
  height: 124px;
  overflow: hidden;
  margin: 100px auto;
  border-radius: 50%;
}

.shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 60px -60px 0 2px $color, -60px -60px 0 2px $color,
    -60px 60px 0 2px $color, 60px 60px 0 2px $color;
  text-align: center;

  &:hover {
    animation: border 0.5s ease forwards;
  }
}

@keyframes border {
  0% {
    box-shadow: 60px -60px 0 2px $color, -60px -60px 0 2px $color,
      -60px 60px 0 2px $color, 60px 60px 0 2px $color, 0 0 0 2px transparent;
  }
  25% {
    box-shadow: 0 -125px 0 2px $color, -60px -60px 0 2px $color,
      -60px 60px 0 2px $color, 60px 60px 0 2px $color, 0 0 0 2px #fff;
  }
  50% {
    box-shadow: 0 -125px 0 2px $color, -125px 0px 0 2px $color,
      -60px 60px 0 2px $color, 60px 60px 0 2px $color, 0 0 0 2px #fff;
  }
  75% {
    box-shadow: 0 -125px 0 2px $color, -125px 0px 0 2px $color,
      0px 125px 0 2px $color, 60px 60px 0 2px $color, 0 0 0 2px #fff;
  }
  100% {
    box-shadow: 0 -125px 0 2px $color, -125px 0px 0 2px $color,
      0px 125px 0 2px $color, 120px 40px 0 2px $color, 0 0 0 2px #fff;
  }
}

body {
  background: linear-gradient(90deg, #fff, #bbb);
}

div {
  position: relative;
  width: 20vw;
  height: 8vw;
  margin: 1vw auto;
  border-radius: 1vmin;
  // background: #e91e63;
  overflow: hidden;
  line-height: 8vw;
  color: #fff;
  text-align: center;
}

.shadow {
  &::before {
    position: absolute;
    content: "";
    top: -2vw;
    left: -2vw;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    box-shadow: 0 0 0 25vw #e91e63;
    z-index: -1;
    animation: shadowmove 10s infinite;
  }
}

.shadow2 {
  &::before {
    position: absolute;
    content: "";
    top: -2vw;
    left: -2vw;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    box-shadow: 0 0 0 15vw #e91e63;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: -2vw;
    right: -2vw;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    box-shadow: 0 0 0 15vw #e91e63;
    z-index: -1;
  }
}

@keyframes shadowmove {
  0% {
    background: #e91e63;
    box-shadow: 0 0 0 0 #e91e63;
  }

  10% {
    background: transparent;
    box-shadow: 0 0 0 0 #e91e63;
  }

  50% {
    background: transparent;
    box-shadow: 0 0 0 25vw #e91e63;
  }
}

.linear {
  background-size: 100% 100%;
  background-image: radial-gradient(
    circle at 0 0,
    transparent 0,
    transparent 2vw,
    #03a9f5 2vw
  );
  background-repeat: no-repeat;
}

.linear2 {
  background-size: 70% 70%;
  background-image: radial-gradient(
      circle at 100% 100%,
      transparent 0,
      transparent 2vw,
      #03a9f5 2vw
    ),
    radial-gradient(circle at 0 0, transparent 0, transparent 2vw, #03a9f5 2vw),
    radial-gradient(
      circle at 100% 0,
      transparent 0,
      transparent 2vw,
      #03a9f5 2vw
    ),
    radial-gradient(
      circle at 0 100%,
      transparent 0,
      transparent 2vw,
      #03a9f5 2vw
    );
  background-repeat: no-repeat;
  background-position: right bottom, left top, right top, left bottom;
}
