<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>vue3-todolist组件化</title>
</head>

<body>
  <div id="app">
    <div>
      <input v-model="inputValue">
      <button v-on:click="handleAddItem" v-bind:title="inputValue">
        增加
      </button>
      <ul>
        <todo-item v-for="(item,index) of list" v-bind:content="item" v-bind:index="index" />
      </ul>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

  <script>
    const TodoItem = Vue.extend({
      props: ["content", "index"],
      template: `<li>{{index}}——{{content}}</li>`,
    })

    Vue.component("TodoItem", TodoItem);

    const app = new Vue({
      el: '#app',
      data() {
        return {
          inputValue: '',
          list: [],
        }
      },
      methods: {
        handleAddItem() {
          this.list.push(this.inputValue);
          this.inputValue = '';
        },
      },
    });
  </script>
</body>

</html>